h1 {
    background-color: rgb(195, 195, 248);
    padding: 20px;
    text-align: center;
    font-family: fantasy
  }
h2{
    text-align: center;
    font-family: fantasy
}
nav{
    font-family: cursive
}
body {background-color: lavender}
p {text-align: left;
    background-color: lavender;
    font-family: cursive;
    color: rgb(62, 62, 143)}
div {padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px}   
.container {
        align-content: center;
        width: 600px;
        height: 360px;
        margin-left: auto;
        margin-right: auto
    }

.container img {
        align-items: center;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto
    }
    